.Container-P img {
    width: 60px;
    margin: 10px 10px;
    
}
.Container-P{
    border-style:solid;
    border-color: #BBCBCD;
    text-align: center;
    background-color: #BBCBCD;

    
}

.Container-P h3{
    margin: 20px;
}


footer {
    background-color: #8CA9AD; 
    color: white;
    bottom: 0;
    width: 100%;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
    
    
}

.footer-info,
.footer-Optilux {
    flex: 1;
    text-align: center;
  
}

.footer-info h3,
.footer-Optilux h3 {
    color: white; 
}

.footer-info p {
    margin: 0.5rem 0;
    color: white;
}

.footer-info img {
    margin: 30px;
    width: 15rem;

}

.lineaSeparadora{
    border-style: solid;
    border-color: white;
    width: 1000px;
    border-radius: 10px;


}
    

.contenedor-separadorA{
    width: 100%;
   height: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
    margin-bottom: 20px;

}

.info-secundaria{
    margin: 50px;
}




