.footer {
  background-color: #8ca9ad;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.footer-top {
  background-color: #BBCBCD;
  padding: 15px 0;
}

.social-icons a img {
  width: 35px;
  margin: 1px 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(40%);
}

.social-icons a img:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
  opacity: 1;
}

.footer-main {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 150px;  /* El tamaño inicial */
  margin-bottom: 20px;
  opacity: 0.8;  /* Opacidad para hacerlo sutil */
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
  transform-origin: center; /* Esto asegura que el zoom se haga desde el centro */
}

.footer-logo:hover {
  opacity: 2; /* Vuelve a la opacidad completa al pasar el ratón */
  transform: scale(2.3); /* Aplica un zoom del 20% al pasar el ratón */
  filter: brightness(2.0); /* Aumenta el brillo para hacer más visible el logo */
}

.footer-divider {
  width: 80%;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 30px;
}

.footer-text {
  max-width: 600px;
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer-text a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 600px) {
  .footer-logo {
    width: 100px; /* Reduce el tamaño del logo en pantallas pequeñas */
  }

  .footer-text {
    font-size: 0.85rem;
    padding: 0 15px;
  }

  .social-icons a img {
    width: 30px; /* Reduce el tamaño de los iconos sociales */
  }
}
