body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.main {
    margin-left: 260px;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

.form-container {
    background-color: #EBF5F6;
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    max-width: 700px;
    margin-top: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
    width: 120px;
}

.form-group select,
.form-group input {
    background-color: #C3E0E4;
    color: black;
    border: 1px solid #C3E0E4;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    width: 60%;
}

input[type="number"] {
    background-color: #fff;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

button {
    height: 50px;
    width: 160px;
    background-color: #607578;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #4e5f62;
}

button.cancel {
    background-color: #aab1b2;
}

button.cancel:hover {
    background-color: #929a9b;
}
