body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

select {
  background-color: #607578;
  color: white;
  border-radius: 10px;
  width: 320px;
  height: 58px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
}

.main {
  margin-left: 260px;
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 30px 60px 30px;
  background-color: #EBF5F6;
  margin-top: 50px;
  width: 60%;
  border-radius: 20px;
}

#contenedor2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding: 20px;
}

.container-child select {
  background-color: #C3E0E4;
  color: black;
  border: none;
  padding: 12px;
  border-radius: 8px;
}

#container input {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #C3E0E4;
  font-size: large;
  padding: 5px 10px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px; 
}

.childButton {
  display: flex;
  gap: 30px;
}

button {
  height: 60px;
  width: 200px;
  background-color: #607578;
  font-size: large;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

button.cancel {
  background-color: #999;
}
